__pycache__/__init__.cpython-311.pyc
__pycache__/__init__.cpython-313.pyc
__pycache__/operators.cpython-311.pyc
__pycache__/operators.cpython-313.pyc
__pycache__/panels.cpython-311.pyc
__pycache__/panels.cpython-313.pyc
__pycache__/
*.py[cod]